<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/header" />

<main>

    <div class="solo-item">
        <form th:action="@{/categories/{id}/edit(id=${category.getCategoryId()})}" method="post">
            <input type="text" name="categoryName" placeholder="Name" th:value="${category.getCategoryName()}"> <br>
            <input type="text" name="description" placeholder="Description" th:value="${category.getDescription()}"> <br>
            <input type="submit" value="Save" class="btn">
        </form>

        <hr>

        <form th:action="@{/categories/{id}/delete(id=${category.getCategoryId()})}" method="post">
            <input type="submit" value="Delete" class="btn delete-btn">
        </form>
    </div>

</main>
</body>
</html>